################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GFClock/obj/x64/Debug
/.vs/GFClock/v16/Server/sqlite3
/.vs/GFClock/v16/.suo
/GFClock/bin/x64/Debug
/.vs/GFClock/v16
/GFClockWinForms/bin/Debug
/GFClockWinForms/obj/Debug
/GFClockWinFormsNativeGetTextScaling/x64/Debug
/GFClockWPF/bin/x64/Debug
/GFClockWPF/obj
/.vs
/Debug
/GFClockWinFormsNativeGetTextScaling/Debug/GFClockW.054BADAB.tlog
/GFClockWinFormsNativeGetTextScaling/Debug/vc142.pdb
/GFClockWinFormsNativeGetTextScaling/Debug/vc142.idb
/GFClockWinFormsNativeGetTextScaling/Debug/pch.obj
/GFClockWinFormsNativeGetTextScaling/Debug/GFClockWinFormsNativeGetTextScaling.vcxproj.FileListAbsolute.txt
/GFClockWinFormsNativeGetTextScaling/Debug/GFClockWinFormsNativeGetTextScaling.pch
/GFClockWinFormsNativeGetTextScaling/Debug/GFClockWinFormsNativeGetTextScaling.log
/GFClockWinFormsNativeGetTextScaling/Debug/GFClockWinFormsNativeGetTextScaling.Build.CppClean.log
/GFClockWinFormsNativeGetTextScaling/Debug/dllmain.obj
/GFClockWPF/GFClockWPF_eboka22l_wpftmp.csproj
/GFClockWinForms/bin/x64/Debug
/GFClockWinForms/obj/x64/Debug
/x64/Debug
/GFClockWinForms/obj/x86/Debug
