################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GFClock/obj/x64/Debug
/.vs/GFClock/v16/Server/sqlite3
/.vs/GFClock/v16/.suo
/GFClock/bin/x64/Debug
